html{
    background-color: rgb(24, 105, 180);
    ;
    background-image: url(../img/uma-cidade-futurista-com-uma-ponte-sobre-um-rio_1021856-9604.avif);
    background-repeat: repeat-x;
    background-size: 34%;
    background-attachment: fixed;
}

.i{
    background-color: rgb(153, 153, 153);
    width: 1000px;
    height: auto;
    border: 2px double rgba(65, 65, 65, 0.904);
    text-align: center;
    margin:0 auto ;
    position: relative;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
} 
.i2{
    margin: 25px 0;
    border-top: 2px double rgba(65, 65, 65, 0.904) ;
}  
a{
    margin:0 auto;
    margin-top: 50px;
    display: flow;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-decoration:none;
    font-weight:bold;
}
a:hover{
    background-color: rgb(113, 218, 27);
    color: red;
}
img{
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
}
h1{
    font-family: arial;
    font-size: 40px;
    text-transform: uppercase;
    color: coral;
    text-shadow: 1px 1px black;

}

h2{
    font-family: arial;
    text-align:center;
    font-size: 25px;
    text-transform: capitalize;
    margin: 0 30px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
}
span{
    font-weight:bold;
    font-size: 30px;
}
  span.epic  {
    font-size: 25px;
    color: rgb(255, 0, 0);
    font-family: arial;
    text-shadow: 3px 2px rgb(0, 0, 0) ;
}
  p.epic {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: arial;
}
p{
    margin: auto 50px;
    text-align:center;
}